cityscapesscripts==2.2.0
cycler==0.10.0
gdown==4.2.0
humanfriendly==9.2
kiwisolver==1.2.0
kornia==0.5.8
matplotlib==3.4.2
numpy
opencv-python
pandas
Pillow
prettytable==2.1.0
pyparsing
pytz
PyYAML
scipy
seaborn
timm
tqdm
typing-extensions
wcwidth
yapf
linklink
easydict